.techs {
    padding-bottom: 100px;
    background: #F5F5F5;
}

@media (max-width: 1280px) {
    .techs {
        padding: 0 70px 100px;
    }
}

@media (max-width: 768px) {
    .techs {
        padding: 0 50px 90px;
    }
}

@media (max-width: 400px) {
    .techs {
        padding: 0 18px 70px;
        background: #FFF;
    }
}