.about-me__full {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1140px;
    justify-content: space-between;
    margin-top: 66px;
}

@media (max-width: 670px) {
    .about-me__full {
        margin-top: 60px;
        margin-bottom: 0;
        flex-direction: column;
    }
}