.burger__links-block {
    position: relative;
    padding-top: 159px;
    top: 0;
    right: 0;
    width: 520px;
    background-color: #FFF;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 520px) {
    .burger__links-block {
        width: 100vw;

    }
}