.burger__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.burger__check-menu:checked ~ .burger__menu {
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}