.form__redirect {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #A0A0A0;
    margin-top: 0;
}

.form__redirect_green {
    color: #2BE080;
    text-decoration: none;
}

@media (max-width: 600px) {
    .form__redirect {
        font-size: 12px;
    }
}