.form__error {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #EE3465;
    margin-top: -18px;
    display: block;
    height: 24px;
}

.form__error_submit {
    margin-top: 12px;
    text-align: center;
}