.sign__header {
    width: 396px;
    margin: 70px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .sign__header {
        margin: 232px auto 40px;
    }
}

@media (max-width: 600px) {
    .sign__header {
        margin: 56px auto 80px;
        width: 260px;
        align-items: center;
    }
}