.header {
    display: flex;
    height: 74px;
    justify-content: space-between;
    align-items: center;
}

.header__signup-signin {
    display: flex;
    height: 74px;
    width: 183px;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    height: 38px;
    width: 38px;
}

.header__to-signup {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: black;
}

.header__to-signin {
    width: 76px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: black;
    background: #2BE080;
    border-radius: 3px;
}