.profile__buttons {
    margin: 0 auto;
    width: 200px;
    position: fixed;
    bottom: 70px;
    left: 50%;
    margin-left: -100px;
}

@media (max-width: 768px) {
    .profile__buttons {
        bottom: 269px;
    }
}

@media (max-width: 500px) {
    .profile__buttons {
        bottom: 40px;
    }
}