.profile__buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 396px;
    margin: 0 auto;
    margin-bottom: 70px;
}


@media (max-width: 768px) {
    .profile__buttons {
        margin-bottom: 269px;
    }
}

@media (max-width: 600px) {
    .profile__buttons {
        max-width: 260px;
        margin-bottom: 40px;
    }
}